@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-title: var(--font-pt-serif);
    --font-custom: var(--font-geist-mono);
    --font-body: var(--font-geist-sans); /* Add this */
}

body {
    font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--font-title), serif;
}

code,
pre {
    font-family: var(--font-custom), monospace;
}
